<div class="all">
    <header class="smaller-header">
        <button class="inner-back" type="button">BACK</button>
        <div class="logo animated fadeIn" style="-webkit-animation-delay: 0.1s !important;"><img src="{{PUBLICURL}}img/logo-flip-madness.png" alt="logo flip madness" class="img-responsive"></div>
    </header>
    <div class="content-full-width" style="height:auto; margin-bottom: 50px;">
        <div class="inside-content">
            <div class="settings-form">
                <form role="form" id="contact_form">
                    <div class="row center-form-block">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>CONTACT</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="lable-field" for="fullname">Full name</label>
                                        <br>
                                        <input type="text" class="form-control small-input-width margin-right-input"  id="fullname" name="fullname">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="lable-field" for="telephone">Telephone/Mobile</label>
                                        <br>
                                        <input type="text" class="form-control small-input-width"  name="telephone" id="telephone">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="lable-field" for="email">Email</label>
                                        <br>
                                        <input type="email" class="form-control small-input-width margin-right-input" name="email" id="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="lable-field" for="subject">Subject</label>
                                        <br>
                                        <input type="text" class="form-control small-input-width margin-right-input" name="subject" id="subject">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="lable-field" for="enquiry">Enquiry</label>
                                        <br>
                                        <textarea rows="4"  class="form-control small-input-width margin-right-input" name="enquiry" id="enquiry"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-default regular-update-btn">SEND</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{{footer}}}