<div class="all">
    <div class="home">
        <div class="header-charecters">
            <div class="header-img-mobile home"></div>
            <div class="charecters">
                <div class="right-charecters">
                    <img src="{{PUBLICURL}}img/header-img-charecters-home-2.png" alt="charecters" class="img-responsive">
                </div>
                <div class="left-charecters">
                    <img src="{{PUBLICURL}}img/header-img-charecters-home-1.png" alt="charecters" class="img-responsive">
                </div>
            </div>
            <div class="logo"><img src="{{PUBLICURL}}img/logo-home.png" alt="logo flip madness" class="img-responsive"></div>
            <div class="collect">
                <button type="button" class="btn collect-btn">COLLECT NOW</button>
                <div class="collect-text">Let  the MADNESS begin</div>
                <!-- <a href="">
                    <div class="collect-btn" style="opacity: 1;">COLLECT NOW</div>
                </a> -->
            </div>
        </div>
    </div>
    <div class="menu-bar">
        <div class="menu-btns">
            <!-- <a href="">
                <div class="collect-btn smaller-btn">COLLECT NOW</div>
            </a> -->
            <button type="button" class="btn log-in-btn">LOG IN</button>
            <a href="http://flipmadness.myshopify.com" class="btn online-store" target="_blank" type="button">Buy Now</a>
        </div>
    </div>

    <div class="video-holder">
        <div class="row">
            <div class="col-md-12 text-background-mobile">
                <div class="video-text">
                    <h1>Exciting new collectible Flipbooks have arrived!</h1>
                    <p>MLP FLIPMADNESS - The fun new way to enjoy all<br />your favorite My Little Pony scenes!<br/>Collect your favorite ponies and complete your flipbook album. <p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myVideoModal" tabindex="-1" role="dialog" aria-labelledby="myVideoModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body video-style">
                    <div class="modal-bg-video">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><span class="icon-cross"></span></span>
                        </button>
                        <div class="myVideo embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="853" height="480" src="https://www.youtube.com/embed/{{movie.youtube}}" style="max-height: 480px; max-width: 853px;" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="collect-them-all">
        <div class="black-bg-collect">
            <div class="collect-content">
                <div class="collect-header">join the fun - COLLECT THEM ALL!</div>
                <div class="collect-img">
                    <div class="top-image">
                        <a href="">
                            <div class="album-pic">
                                <div class="back-pic">
                                    <div class="top-pic">
                                        <div class="background-image john-cena-back-img"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="top-arrow"></div>
                    <div class="site-picture"></div>
                    <div class="collect-enter-code">
                        <div class="code-input">
                            <div class="code-form">
                                <div class="form-headline">ENTER CODE</div>
                                <div class="form-input">JC1-2345-678</div>
                            </div>
                        </div>
                    </div>
                    <div class="middle-arrow"></div>
                    <div class="bottom-img">
                        <a href="">
                            <div class="album-pic">
                                <div class="back-pic">
                                    <div class="top-pic">
                                        <div class="background-image john-cena-top-img"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="left-arrow"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="collect-now-footer">
    </div>
</div>

{{{footer}}}