<div class="all">
    {{{header}}}
    {{{bar}}}
    <div class="content">
        <div class="content-shadow"></div>
        <div class="content-background-pattern"></div>
        <div class="inside-content">
            <div class="main col-md-push-3">
                <div id="cardboard-holder"></div>
                <div class="user-challenges">
                    {{{mylotories}}}
                    {{{nextChalelange}}}
                </div>
            </div>
            <div class="sidebar col-md-pull-9">
                {{{sidebar_lotteries}}}
                {{{leaderboard}}}
                {{{adversting}}}
            </div>
        </div>
    </div>
</div>

{{{footer}}}
