<div class="headline">
    <div class="page-headline">
        <ul>
            <li>
                <div class="page" title="{{currentTag}}">{{currentTag}}</div>
            </li>
            <li>
                <div class="pagination-headline">page <span class="yellow-text">{{currentPage}}</span>/<span id="totalPages">{{currentTotalPages}}</span></div>
            </li>
        </ul>
    </div>
    <div class="seperator-line"></div>
    <div class="collection-btn">
        <ul>
            <li class="left-arrow"><a href=""><span class="icon-chevron-left"></span></a></li>
            <li class="middle-btn">
                <a type="button" class="headline-button-all" data-id="{{userId}}">ALL COLLECTION</a>
            </li>
            <li class="right-arrow"><a href=""><span class="icon-chevron-right"></span></a></li>
        </ul>
    </div>
</div>



<div class="content-pictures">





</div>
<div class="end-page"><div class="seperator-line second-seperator"></div></div>

