<div class="my-lotteries challenges-background">
    <div class="lotteries-headline-bg"><span class="lotteries-headline-text">MY DRAWS</span></div>
    <div class="stronger-bg" style="position: relative;">
        {{#if lotteris}}

        <div class="full-upcoming-lotteries">
            <div class="row row-padding">
                {{#each lotteris}}
                <div class="col-md-3  noPadding">
                    <div class="the-next-challenge center-block">
                        <div class="time-counting"  {{#if this.lottery}} data-end="{{this.lottery.end}}" {{/if}}></div>
                        <div class="the-prize-bg">
                            <div class="the-prize-blue-shadow">
                                <div class="the-prize-white-shadow">
                                    <div class="the-prize-back yellow-back">
                                        <div class="the-prize-the-picture yellow-shadow" style="background-image: url({{../IMAGEURL}}{{this.image}});"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a >
                            <div class="the-prize-date">
                                {{#if this.lottery.end_date}}
                                <span class="the-prize-bg yellow-bg"></span>
                                <span class="the-prize-text">{{this.lottery.end_date}}</span>
                                {{/if}}
                            </div>
                        </a>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
        {{else}}
        <div class="empty-upcoming-lotteries">You haven't joined a draw yet. Please check upcoming draws!</div>
        {{/if}}

        <a class="yellow-btn" type="button" id="upcomingLottory" >UPCOMING DRAWS</a>
    </div>
</div>