    <div class="cards trophy disable-trophy">
        <div class="card-pictures">
            <div class="album-pic">
                <div class="back-pic">
                    <div class="top-pic">
                        <div class="left-side-pic"></div>
                        <div class="line-pic"></div>
                        <div class="card-img trophy"></div>
                        <div class="album-star winner">{{reword}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>