<div class="modal fade" id="allCollectionModal" tabindex="-1" role="dialog" aria-labelledby="allCollectionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-bg-purple">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><span class="icon-cross"></span></span>
                    </button>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="collection-bg">
                                <div class="row">
                                    <div class="col-md-12 no-padding">
                                        <div class="head">
                                            <div class="purple-inside">
                                                <div class="headline-with-text">
                                                    <div class="header-bg grey"></div>
                                                    <div class="header-text">TITANIUM</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="head-line grey-back"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cards-bg-white-border">
                                        <div class="cards-bg">
                                            <div class="col-md-3">
                                                <div class="album-picture-black titanium-size-black">
                                                    <div class="collection-black-img"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 margin-left-picture">
                                                <div class="album-picture-black titanium-size-black">
                                                    <div class="collection-black-img"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 smaller-width margin-left-picture">
                                                <div class="album-picture-regular titanium-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic titanium-size">
                                                            <div class="top-pic titanium-size">
                                                                <div class="left-side-pic titanium-size-left-side-pic"></div>
                                                                <div class="line-pic titanium-size-line-pic"></div>
                                                                <div class="collection-color-img"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 smaller-width margin-left-picture">
                                                <div class="album-picture-regular titanium-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic titanium-size">
                                                            <div class="top-pic titanium-size">
                                                                <div class="left-side-pic titanium-size-left-side-pic"></div>
                                                                <div class="line-pic titanium-size-line-pic"></div>
                                                                <div class="collection-color-img"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 margin-left-picture">
                                                <div class="album-picture-black titanium-size-black">
                                                    <div class="collection-black-img"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 no-padding">
                            <div class="collection-bg">
                                <div class="row">
                                    <div class="col-md-12 no-padding">
                                        <div class="head">
                                            <div class="purple-inside">
                                                <div class="headline-with-text">
                                                    <div class="header-bg gold"></div>
                                                    <div class="header-text">GOLD</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="head-line gold-back"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cards-bg-white-border">
                                        <div class="cards-bg padding-gold">
                                            <div class="col-md-3">
                                                <div class="album-picture-black gold-size-black">
                                                    <div class="collection-black-img gold-size"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="album-picture-black gold-size-black">
                                                    <div class="collection-black-img gold-size"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="album-picture-regular gold-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic gold-size">
                                                            <div class="top-pic gold-size">
                                                                <div class="left-side-pic gold-size-left-side-pic"></div>
                                                                <div class="line-pic gold-size-line-pic"></div>
                                                                <div class="collection-color-img gold-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="album-picture-black gold-size-black">
                                                    <div class="collection-black-img gold-size"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="album-picture-black gold-size-black">
                                                    <div class="collection-black-img gold-size"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="album-picture-regular gold-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic gold-size">
                                                            <div class="top-pic gold-size">
                                                                <div class="left-side-pic gold-size-left-side-pic"></div>
                                                                <div class="line-pic gold-size-line-pic"></div>
                                                                <div class="collection-color-img gold-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="album-picture-black gold-size-black">
                                                    <div class="collection-black-img gold-size"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="album-picture-black gold-size-black">
                                                    <div class="collection-black-img gold-size"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="album-picture-regular gold-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic gold-size">
                                                            <div class="top-pic gold-size">
                                                                <div class="left-side-pic gold-size-left-side-pic"></div>
                                                                <div class="line-pic gold-size-line-pic"></div>
                                                                <div class="collection-color-img gold-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="album-picture-black gold-size-black">
                                                    <div class="collection-black-img gold-size"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 no-padding">
                            <div class="collection-bg">
                                <div class="row">
                                    <div class="col-md-12 no-padding">
                                        <div class="head">
                                            <div class="purple-inside">
                                                <div class="headline-with-text">
                                                    <div class="header-bg purple"></div>
                                                    <div class="header-text">SUPERSARTS</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="head-line purple-back"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cards-bg-white-border">
                                        <div class="cards-bg padding-purple">
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-regular superstars-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic superstars-size">
                                                            <div class="top-pic superstars-size">
                                                                <div class="left-side-pic superstars-size-left-side-pic"></div>
                                                                <div class="line-pic superstars-size-line-pic"></div>
                                                                <div class="collection-color-img superstars-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-black superstars-size-black">
                                                    <div class="collection-black-img superstars-size"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-black superstars-size-black">
                                                    <div class="collection-black-img superstars-size"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-black superstars-size-black">
                                                    <div class="collection-black-img superstars-size"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-regular superstars-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic superstars-size">
                                                            <div class="top-pic superstars-size">
                                                                <div class="left-side-pic superstars-size-left-side-pic"></div>
                                                                <div class="line-pic superstars-size-line-pic"></div>
                                                                <div class="collection-color-img superstars-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-regular superstars-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic superstars-size">
                                                            <div class="top-pic superstars-size">
                                                                <div class="left-side-pic superstars-size-left-side-pic"></div>
                                                                <div class="line-pic superstars-size-line-pic"></div>
                                                                <div class="collection-color-img superstars-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-black superstars-size-black">
                                                    <div class="collection-black-img superstars-size"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-black superstars-size-black">
                                                    <div class="collection-black-img superstars-size"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-regular superstars-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic superstars-size">
                                                            <div class="top-pic superstars-size">
                                                                <div class="left-side-pic superstars-size-left-side-pic"></div>
                                                                <div class="line-pic superstars-size-line-pic"></div>
                                                                <div class="collection-color-img superstars-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-black superstars-size-black">
                                                    <div class="collection-black-img superstars-size"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-black superstars-size-black">
                                                    <div class="collection-black-img superstars-size"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-black superstars-size-black">
                                                    <div class="collection-black-img superstars-size"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-regular superstars-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic superstars-size">
                                                            <div class="top-pic superstars-size">
                                                                <div class="left-side-pic superstars-size-left-side-pic"></div>
                                                                <div class="line-pic superstars-size-line-pic"></div>
                                                                <div class="collection-color-img superstars-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-regular superstars-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic superstars-size">
                                                            <div class="top-pic superstars-size">
                                                                <div class="left-side-pic superstars-size-left-side-pic"></div>
                                                                <div class="line-pic superstars-size-line-pic"></div>
                                                                <div class="collection-color-img superstars-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-regular superstars-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic superstars-size">
                                                            <div class="top-pic superstars-size">
                                                                <div class="left-side-pic superstars-size-left-side-pic"></div>
                                                                <div class="line-pic superstars-size-line-pic"></div>
                                                                <div class="collection-color-img superstars-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-regular superstars-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic superstars-size">
                                                            <div class="top-pic superstars-size">
                                                                <div class="left-side-pic superstars-size-left-side-pic"></div>
                                                                <div class="line-pic superstars-size-line-pic"></div>
                                                                <div class="collection-color-img superstars-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-regular superstars-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic superstars-size">
                                                            <div class="top-pic superstars-size">
                                                                <div class="left-side-pic superstars-size-left-side-pic"></div>
                                                                <div class="line-pic superstars-size-line-pic"></div>
                                                                <div class="collection-color-img superstars-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-regular superstars-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic superstars-size">
                                                            <div class="top-pic superstars-size">
                                                                <div class="left-side-pic superstars-size-left-side-pic"></div>
                                                                <div class="line-pic superstars-size-line-pic"></div>
                                                                <div class="collection-color-img superstars-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-regular superstars-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic superstars-size">
                                                            <div class="top-pic superstars-size">
                                                                <div class="left-side-pic superstars-size-left-side-pic"></div>
                                                                <div class="line-pic superstars-size-line-pic"></div>
                                                                <div class="collection-color-img superstars-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 superstars-width">
                                                <div class="album-picture-regular superstars-size">
                                                    <div class="album-pic">
                                                        <div class="back-pic superstars-size">
                                                            <div class="top-pic superstars-size">
                                                                <div class="left-side-pic superstars-size-left-side-pic"></div>
                                                                <div class="line-pic superstars-size-line-pic"></div>
                                                                <div class="collection-color-img superstars-size"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
