<footer class="site-footer">
    <div class="row">
        <div class="col-md-4">
            <ul class="footer-links">
                <li><a href="#inner/how">How to play</a></li>
                <!-- <li><a href="#inner/about">Where to buy?</a></li> -->
                <li><a href="#contact">Contact</a></li>
                <li><a href="#inner/faq">FAQ's</a></li>
                <li><a href="#inner/privacy">Privacy Policy</a></li>
                <li><a href="#inner/terms">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="footer-social">
                <a href="https://twitter.com/WWEFLIPMADNESS" target="_blank">
                    <li><span class="icon-twitter"></span></li>
                </a>
                <a href="https://www.facebook.com/pages/WWE-FLIP-MADNESS/1089546401058263" target="_blank">
                    <li><span class="icon-facebook"></span></li>
                </a>
                <a href="https://www.youtube.com/channel/UCmUevULitUdAPPtgarUvTaw" target="_blank">
                    <li><span class="icon-youtube"></span></li>
                </a>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="footer-credits">
                <li class="footer-logos">
                    <a href=""><img src="{{PUBLICURL}}img/logo-flip.png" alt="flip logo" class="img-responsive logo-flip"></a>
                    <a href=""><img src="{{PUBLICURL}}img/logo-wwe.png" alt="wwe logo" class="img-responsive logo-wwe"></a>
                </li>
                <li class="credits">©2015 FlipMadness, INC. All right reserved. |  Developed with love by <a href="http://valhalla.co.il/">Valhalla.co.il</a></li>
            </ul>
        </div>
    </div>
</footer>