<div class="sign-up-bg">
    <div class="logo">
        <img src="{{PUBLICURL}}img/logo-flip-madness.png" alt="logo flip madness" class="img-responsive">
    </div>
    <div class="log-in-link"><a href="#" id="forgetPassword">Forget Password?</a></div>
    <div class="log-in-link left"><a href="#" id="onSignup">Need an account? Signup</a></div>
    <div class="facebook-signup-btn">
        <span class="icon-facebook"></span>
        <span class="line">|</span>
        <span class="facebook-text">LOG IN WITH FACEBOOK</span>
    </div>
    <div class="or-text">or</div>
    <form id="login-form">
        <div class="sign-in-form">
            <div class="input-fields">
                <div class="input-text">Email</div>
                <div class="input-sign">
                    <input type="email" name="email" class="form-signup-input" required>
                </div>
            </div>
            <div class="input-fields">
                <div class="input-text">Password</div>
                <div class="input-sign">
                    <input type="password" name="password" class="form-signup-input">
                </div>
            </div>
        </div>
        <button type="submit" class="regular-signup-btn">LOG IN</button>
    </form>
    <div class="conditions">
        <p>* If you are 12 years old or under please complete the page with your parent or guardian</p>
    </div>
</div>
