<div class="sign-up-bg join-draw">
    <div class="pop-up-bigger-text">JOIN DRAW</div>
    <div class="join-form">
        <div class="sign-up-form change-padding-top">
            <form id="join-lottery-form" action="" method="">
                <div class="input-fields padding-right-input">
                    <div class="input-text">Address</div>
                    <div class="input-sign">
                        <input type="text" name="address" class="form-signup-input">
                    </div>
                </div>
                <div class="input-fields">
                    <div class="input-text">City</div>
                    <div class="input-sign">
                        <input type="text" name="city" class="form-signup-input">
                    </div>
                </div>
                <div class="input-fields padding-right-input">
                    <div class="input-text">Country</div>
                    <div class="input-sign">
                        <input type="text" name="country" class="form-signup-input">
                    </div>
                </div>
                <div class="input-fields">
                    <div class="input-text">Phone Number</div>
                    <div class="input-sign">
                        <input type="text" name="phone" class="form-signup-input ">
                    </div>
                </div>
                <div class="input-fields">
                    <div class="input-text">Postal</div>
                    <div class="input-sign">
                        <input type="text" name="postal" class="form-signup-input">
                    </div>
                </div>
                <input type="checkbox" id="terms" name="terms">
                <label for="terms">
                    <span class="terms-check-text">Send me updates on new draws and prizes</span>
                </label>
                <a >
                    <button type="submit" class="regular-signup-btn">JOIN Draw</div>
                </a>
            </form>
        </div>


        <div class="conditions">
            <p>* Your details will be used only in case of wining a draw or prize. * By clicking "Join draw" you agree to the <a href="#inner/terms">Terms of Use</a> and <a href="#inner/privacy">Privacy Policy.</a></p>
            <p>* If you are 12 years old or under please complete the page with your parent or guardian</p>
        </div>
    </div>
</div>

