<div class="sign-up-bg">
    <div class="logo"><img src="{{PUBLICURL}}img/logo-flip-madness.png" alt="logo flip madness" class="img-responsive"></div>
    <div class="log-in-link">Already have an account? <a href="#myThirdModal">Log In</a></div>

    <div class="welcome-text">WELCOME TO FLIPMADNESS
        <br><span class="welcome-smaller-font">PLEASE SIGN UP</span>
    </div>
        <div class="facebook-signup-btn">
            <span class="icon-facebook"></span>
            <span class="line">|</span>
            <span class="facebook-text">SIGN UP WITH FACEBOOK</span>
        </div>
        <div class="or-text">or</div>
        <button type="button" class="regular-signup-btn" >SIGN UP</button>

    <div class="conditions">
        <p>* If you are 12 years old or under please complete the page with your parent or guardian</p>
        <p>* By clicking "Sign In" or "Sign In with Facebook" you agree to the <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>.</p>
    </div>

</div>



   