
<div class="sign-up-bg">
    <div class="logo"><img src="{{PUBLICURL}}img/logo-flip-madness.png" alt="logo flip madness" class="img-responsive"></div>
    <div class="log-in-link">Already have an account? <a href="#myFourthModal">Log In</a></div>
    <div class="sign-up-form">
        <form action="" method="">
            <div class="input-fields padding-right-input">
                <div class="input-text">First Name</div>
                <div class="input-sign">
                    <input type="text" name="firstName" class="form-signup-input">
                </div>
            </div>
            <div class="input-fields">
                <div class="input-text">Last Name</div>
                <div class="input-sign">
                    <input type="text" name="lastName" class="form-signup-input">
                </div>
            </div>
            <div class="input-fields padding-right-input">
                <div class="input-text">Email</div>
                <div class="input-sign">
                    <input type="email" name="email" class="form-signup-input" required>
                </div>
            </div>
            <div class="input-fields">
                <div class="input-text">Date of birth</div>
                <div class="input-sign">
                    <input type="text" name="dateOfBirthDay" class="form-signup-input day" placeholder="DD">
                    <input type="text" name="dateOfBirthMonth" class="form-signup-input month" placeholder="MM">
                    <input type="text" name="dateOfBirthYear" class="form-signup-input year" placeholder="YYYY">
                </div>
            </div>
            <div class="input-fields padding-right-input">
                <div class="input-text">Password <span class="smaller-text-form">(min 6 characters)</span></div>
                <div class="input-sign">
                    <input type="password" name="password1" class="form-signup-input">
                </div>
            </div>
            <div class="input-fields">
                <div class="input-text">Confirm Password</div>
                <div class="input-sign">
                    <input type="password" name="password2" class="form-signup-input">
                </div>
            </div>
            <input type='checkbox' id='terms' />
            <label for='terms'>
                <span class="terms-check-text">I agree to the <a href="">Terms of Use</a> and <a href="">Privacy Policy of “Flipmadness”</a></span>
            </label>
        </form>
    </div>
    <a href="#" class="regular-signup-btn" id="signupBTN">
       SIGN UP
    </a>

    <div class="conditions">
        <p>* If you are 12 years old or under please complete the page with your parent or guardian</p>
        <p>* By clicking "Sign In" or "Sign In with Facebook" you agree to the <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>.</p>
    </div>

</div>
