<div class="all-lottorys-bg-color yellow-border">
    <div class="all-lottorys-bg-img pop-up-inside-height fix-position-won">
        <div class="all-lottorys-content pop-up-inside-height qustion-bigger-width">
            <div class="winner-img-logo">
                <div class="logo"><img src="{{PUBLICURL}}img/logo-flip-madness.png" alt="logo flip madness" class="img-responsive"></div>
            </div>
            <div class="the-next-challenge center-block">
                <div class="welcome-text2">welcome to <br>
                <span class="welcome-text-bigger">flipmadness!</span></div>
                <div class="gift-text">enjoy <div class="star-img"></div><span class="orange-text">100</span> points bonus</div>
                <a href="#" class="yellow-btn-join">COLLECT</a>
            </div>
        </div>
    </div>
</div>
