<div class="popUpBackground">
    <div class="the-next-challenge center-block">
        <div class="the-prize-bg">
            <div class="the-prize-blue-shadow">
                <div class="the-prize-white-shadow">
                    <div class="the-prize-back yellow-back">
                        <div class="the-prize-the-picture yellow-shadow" style="background-image: url({{IMAGEURL}}{{details.image}})"></div>
                    </div>
                </div>
            </div>
        </div>
        <a href="">
            <div class="the-prize-date smaller-yellow-box">
                <span class="the-prize-bg yellow-bg"></span>
                <span class="the-prize-text">{{details.end_date}}</span>
            </div>
        </a>
        <div class="meet-text">{{details.prizes}}</div>
        <div class="pop-up-bigger-text">DRAW ENDED</div>
        <div class="youLoseText">
            <p>Thanks for Paticipating.</p>
            <p>This time you did not win </p>
        </div>


    </div>
</div>
